{
    "debug": true,
    "host": "localhost",
    "port": 8888,
    "database": {
        "name": "potato",
        "user": "potato",
        "host": "localhost",
        "port": 5432,
        "password": "some_password"
    }
}
